$white :  white  ; 

$black :  black  ; 

$gray :  #7c7c7c ;

$darkgray :  #474747  ; 

$red :  #af1d1d  ; 

$darkred :  #931919  ; 

$orange :  #ff7200 ;

$darkorange :  #d16b19  ; 

$yellow :  #fcde32  ; 

$darkyellow :  #bfbf01  ; 

$green :  #4ecc00  ; 

$lowgreen :  #93ff93  ; 

$darkgreen :  #318200  ; 

$blue :  #2671cc  ; 

$darkblue :  #1a5193  ; 

$purple :  #9316f9  ; 

$darkpurple :  #570d93  ; 

$pink :  #ff63d0  ; 

$darkpink :  #ff00b2  ; 

$main :  #33353a  ; 

$second :  #464646  ; 

$purblue :  #6a6aff  ; 

$lowblue :  #a6ffff  ; 