    
    html,body {
        margin: auto;
    }

    a {
        text-decoration: unset;
        color: #2671cc;
    }

    a:hover {
        color: #1a5193;
    }

    h1,h2,h3,h4,h5,h6 {
        margin-block-start: unset;
        margin-block-end: 8px;
    }