    /* #include<css.import> */

    @import url('https://fonts.googleapis.com/css?family=Indie+Flower|Oswald:200,300,400,500,600,700|PT+Sans:400,400i,700,700i|Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i') ;  
    
    /* #include<css.font-face.google> */
    
    .if { font-family : 'Indie Flower', cursive !important ; }
    
    .pt { font-family : 'PT Sans', sans-serif !important ; }
    
    .oswald { font-family : 'Oswald', sans-serif !important ; }
    
    .roboto { font-family : 'Roboto', sans-serif !important ; }

    .sui { font-family : Segoe UI, sans-serif !important ;  font-weight : 600; }

    .mj { font-family : Microsoft JhengHei , sans-serif !important ; }

    /* #include<css.color> */

    .white { color : white ; }
    
    .black { color : black ; }
    
    .gray { color : #7c7c7c}
    
    .darkgray { color : #474747 ; }
    
    .red { color : #af1d1d ; }
    
    .darkred { color : #931919 ; }
    
    .orange { color : #ff7200}
    
    .darkorange { color : #d16b19 ; }
    
    .yellow { color : #fcde32 ; }
    
    .darkyellow { color : #bfbf01 ; }
    
    .green { color : #4ecc00 ; }
    
    .lowgreen { background : #93ff93 ; }
    
    .darkgreen { color : #318200 ; }
    
    .blue { color : #2671cc ; }
    
    .darkblue { color : #1a5193 ; }
    
    .purple { color : #9316f9 ; }
    
    .darkpurple { color : #570d93 ; }
    
    .pink { color : #ff63d0 ; }
    
    .darkpink { color : #ff00b2 ; }
    
    .main { color : #33353a ; }
    
    .second { color : #464646 ; }
    
    .purblue { background : #6a6aff ; }
    
    .lowblue { background : #a6ffff ; }

    /* #include<css.background> */

    .bg-white { background : white ; }
    
    .bg-black { background : black ; }

    .bg-lowgray { background : #e6ebf1 ; }

    .bg-gray { background : #7c7c7c ; }

    .bg-darkgray { background : #474747 ; }

    .bg-red { background : #af1d1d ; }

    .bg-darkred { background : #931919 ; }

    .bg-orange { background : #ff7200}

    .bg-darkorange { background : #d16b19}

    .bg-yellow { background : #fcde32 ; }

    .bg-darkyellow { background : #bfbf01 ; }

    .bg-green { background : #4ecc00 ; }

    .bg-lowgreen { background : #93ff93 ; }

    .bg-darkgreen { background : #318200 ; }

    .bg-blue { background : #2671cc ; }

    .bg-darkblue { background : #1a5193 ; }

    .bg-purple { background : #9316f9 ; }

    .bg-darkpurple { background : #570d93 ; }

    .bg-pink { background : #ff63d0 ; }

    .bg-darkpink { background : #ff00b2 ; }

    .bg-main { background : #33353a ; }

    .bg-second { background : #464646 ; }

    .bg-purblue { background : #6a6aff ; }
    
    .bg-lowblue { background : #a6ffff ; }

    /* #include<css.font> */

    .align-center { text-align : center !important ; }

    .align-left { text-align : left !important ; }

    .align-right { text-align : right !important ; }

    .fsize-72 { font-size : 72px !important ; } 

    .fsize-32 { font-size : 32px !important ; }    
    
    .fsize-30 { font-size : 30px !important ; }

    .fsize-28 { font-size : 28px !important ; }

    .fsize-24 { font-size : 24px !important ; }

    .fsize-20 { font-size : 20px !important ; }

    .fsize-18 { font-size : 18px !important ; }

    .fsize-17 { font-size : 17.5px !important ; }

    .fsize-16 { font-size : 16px !important ; }

    .fsize-15 { font-size : 15px !important ; }

    .fsize-14 { font-size : 14px !important ; }

    .fsize-12 { font-size : 12px !important ; }

    .bold-100 { font-weight : 100 ; }

    .bold-200 { font-weight : 200 ; }

    .bold-300 { font-weight : 300 ; }

    .bold-400 { font-weight : 400 ; }

    .bold-500 { font-weight : 500 ; }

    .bold-600 { font-weight : 600 ; }

    .bold-700 { font-weight : 700 ; }

    .bold-800 { font-weight : 800 ; }
    
    .bold-900 { font-weight : 900 ; }

    .bold-bold { font-weight : bold ; }

    .bold-bolder { font-weight : bolder ; }

    .text-shadow { text-shadow : 2px 2px gray ; }

    .nowhite-space { white-space : nowrap ; }

    .lsp-1 { letter-spacing : 1px ; }

    .lsp-2 { letter-spacing : 2px ; }
    
    .lsp-3 { letter-spacing : 3px ; }
    
    .lsp-4 { letter-spacing : 4px ; }
    
    .lsp-5 { letter-spacing : 5px ; }
    
    .lsp-6 { letter-spacing : 6px ; }
    
    .lsp-7 { letter-spacing : 7px ; }
    
    .lsp-8 { letter-spacing : 8px ; }
    
    .lsp-9 { letter-spacing : 9px ; }
    
    .lsp-10 { letter-spacing : 10px ; }

    .zindex-1 { z-index : 1 ; }
    
    .zindex-2 { z-index : 2 ; }
    
    .zindex-3 { z-index : 3 ; }
    
    .zindex-4 { z-index : 4 ; }
    
    .zindex-5 { z-index : 5 ; }
    
    .zindex-6 { z-index : 6 ; }
    
    .zindex-7 { z-index : 7 ; }
    
    .zindex-8 { z-index : 8 ; }
    
    .zindex-9 { z-index : 9 ; }
    
    .zindex-10 { z-index : 10 ; }

    /* #include<css.layout> */

    .radius-1 { border-radius : 1px !important ; }
    
    .radius-2 { border-radius : 2px !important ; }
    
    .radius-3 { border-radius : 3px !important ; }
    
    .radius-4 { border-radius : 4px !important ; }
    
    .radius-5 { border-radius : 5px !important ; }
    
    .radius-6 { border-radius : 6px !important ; }
    
    .radius-7 { border-radius : 7px !important ; }
    
    .radius-8 { border-radius : 8px !important ; }
    
    .radius-9 { border-radius : 9px !important ; }
    
    .radius-10 { border-radius : 10px !important ; }

    .unpad-down { padding-bottom : unset !important ; }

    .unpad-up { padding-top : unset !important ; }

    .unpad-left { padding-left : unset !important ; }

    .unpad-right { padding-right : unset !important ; }

    .pad { padding : auto !important ; }

    .pad-2 { padding : 2px ; }

    .pad-4 { padding : 4px ; }

    .pad-6 { padding : 6px ; }

    .pad-8 { padding : 8px ; }

    .pad-10 { padding : 10px ; }

    .pad-12 { padding : 12px ; }

    .pad-14 { padding : 14px ; }

    .pad-16 { padding : 16px ; }

    .pad-18 { padding : 18px ; }

    .pad-20 { padding : 20px ; }
    
    .pad-22 { padding : 22px ; }

    .pad-24 { padding : 24px ; }

    .pad-26 { padding : 26px ; }

    .pad-28 { padding : 28px ; }

    .pad-30 { padding : 30px ; }

    .pad-32 { padding : 32px ; }

    .pad-top { padding-top : auto !important ; }
    
    .pad-top-2 { padding-top : 2px ; }
    
    .pad-top-4 { padding-top : 4px ; }
    
    .pad-top-6 { padding-top : 6px ; }
    
    .pad-top-8 { padding-top : 8px ; }
    
    .pad-top-10 { padding-top : 10px ; }
    
    .pad-top-12 { padding-top : 12px ; }
    
    .pad-top-14 { padding-top : 14px ; }
    
    .pad-top-16 { padding-top : 16px ; }
    
    .pad-top-18 { padding-top : 18px ; }
    
    .pad-top-20 { padding-top : 20px ; }
    
    .pad-top-22 { padding-top : 22px ; }
    
    .pad-top-24 { padding-top : 24px ; }
    
    .pad-top-26 { padding-top : 26px ; }
    
    .pad-top-28 { padding-top : 28px ; }
    
    .pad-top-30 { padding-top : 30px ; }
    
    .pad-top-32 { padding-top : 32px ; }
    
    .pad-bot { padding-bottom : auto !important ; }
    
    .pad-bot-2 { padding-bottom : 2px ; }
    
    .pad-bot-4 { padding-bottom : 4px ; }
    
    .pad-bot-6 { padding-bottom : 6px ; }
    
    .pad-bot-8 { padding-bottom : 8px ; }
    
    .pad-bot-10 { padding-bottom : 10px ; }
    
    .pad-bot-12 { padding-bottom : 12px ; }
    
    .pad-bot-14 { padding-bottom : 14px ; }
    
    .pad-bot-16 { padding-bottom : 16px ; }
    
    .pad-bot-18 { padding-bottom : 18px ; }
    
    .pad-bot-20 { padding-bottom : 20px ; }
    
    .pad-bot-22 { padding-bottom : 22px ; }
    
    .pad-bot-24 { padding-bottom : 24px ; }
    
    .pad-bot-26 { padding-bottom : 26px ; }
    
    .pad-bot-28 { padding-bottom : 28px ; }
    
    .pad-bot-30 { padding-bottom : 30px ; }
    
    .pad-bot-32 { padding-bottom : 32px ; }
    
    .pad-lef { padding-left : auto !important ; }
    
    .pad-lef-2 { padding-left : 2px ; }
    
    .pad-lef-4 { padding-left : 4px ; }
    
    .pad-lef-6 { padding-left : 6px ; }
    
    .pad-lef-8 { padding-left : 8px ; }
    
    .pad-lef-10 { padding-left : 10px ; }
    
    .pad-lef-12 { padding-left : 12px ; }
    
    .pad-lef-14 { padding-left : 14px ; }
    
    .pad-lef-16 { padding-left : 16px ; }
    
    .pad-lef-18 { padding-left : 18px ; }
    
    .pad-lef-20 { padding-left : 20px ; }
    
    .pad-lef-22 { padding-left : 22px ; }
    
    .pad-lef-24 { padding-left : 24px ; }
    
    .pad-lef-26 { padding-left : 26px ; }
    
    .pad-lef-28 { padding-left : 28px ; }
    
    .pad-lef-30 { padding-left : 30px ; }
    
    .pad-lef-32 { padding-left : 32px ; }
    
    .pad-rig { padding-right : auto !important ; }
    
    .pad-rig-2 { padding-right : 2px ; }
    
    .pad-rig-4 { padding-right : 4px ; }
    
    .pad-rig-6 { padding-right : 6px ; }
    
    .pad-rig-8 { padding-right : 8px ; }
    
    .pad-rig-10 { padding-right : 10px ; }
    
    .pad-rig-12 { padding-right : 12px ; }
    
    .pad-rig-14 { padding-right : 14px ; }
    
    .pad-rig-16 { padding-right : 16px ; }
    
    .pad-rig-18 { padding-right : 18px ; }
    
    .pad-rig-20 { padding-right : 20px ; }
    
    .pad-rig-22 { padding-right : 22px ; }
    
    .pad-rig-24 { padding-right : 24px ; }
    
    .pad-rig-26 { padding-right : 26px ; }
    
    .pad-rig-28 { padding-right : 28px ; }
    
    .pad-rig-30 { padding-right : 30px ; }
    
    .pad-rig-32 { padding-right : 32px ; }

    .mar { margin : auto !important ; }
    
    .mar-2 { margin : 2px ; }
    
    .mar-4 { margin : 4px ; }
    
    .mar-6 { margin : 6px ; }
    
    .mar-8 { margin : 8px ; }
    
    .mar-10 { margin : 10px ; }
    
    .mar-12 { margin : 12px ; }
    
    .mar-14 { margin : 14px ; }
    
    .mar-16 { margin : 16px ; }
    
    .mar-18 { margin : 18px ; }
    
    .mar-20 { margin : 20px ; }
    
    .mar-22 { margin : 22px ; }
    
    .mar-24 { margin : 24px ; }
    
    .mar-26 { margin : 26px ; }
    
    .mar-28 { margin : 28px ; }
    
    .mar-30 { margin : 30px ; }
    
    .mar-32 { margin : 32px ; }

    .mar-34 { margin : 34px ; }
    
    .mar-36 { margin : 36px ; }
    
    .mar-38 { margin : 38px ; }
    
    .mar-40 { margin : 40px ; }

    .mar-top { margin-top : auto !important ; }
    
    .mar-top-2 { margin-top : 2px ; }
    
    .mar-top-4 { margin-top : 4px ; }
    
    .mar-top-6 { margin-top : 6px ; }
    
    .mar-top-8 { margin-top : 8px ; }
    
    .mar-top-10 { margin-top : 10px ; }
    
    .mar-top-12 { margin-top : 12px ; }
    
    .mar-top-14 { margin-top : 14px ; }
    
    .mar-top-16 { margin-top : 16px ; }
    
    .mar-top-18 { margin-top : 18px ; }
    
    .mar-top-20 { margin-top : 20px ; }
    
    .mar-top-22 { margin-top : 22px ; }
    
    .mar-top-24 { margin-top : 24px ; }
    
    .mar-top-26 { margin-top : 26px ; }
    
    .mar-top-28 { margin-top : 28px ; }
    
    .mar-top-30 { margin-top : 30px ; }
    
    .mar-top-32 { margin-top : 32px ; }

    .mar-top-34 { margin-top : 34px ; }
    
    .mar-top-36 { margin-top : 36px ; }
    
    .mar-top-38 { margin-top : 38px ; }
    
    .mar-top-40 { margin-top : 40px ; }

    .mar-bot { margin-bottom : auto !important ; }
    
    .mar-bot-2 { margin-bottom : 2px ; }
    
    .mar-bot-4 { margin-bottom : 4px ; }
    
    .mar-bot-6 { margin-bottom : 6px ; }
    
    .mar-bot-8 { margin-bottom : 8px ; }
    
    .mar-bot-10 { margin-bottom : 10px ; }
    
    .mar-bot-12 { margin-bottom : 12px ; }
    
    .mar-bot-14 { margin-bottom : 14px ; }
    
    .mar-bot-16 { margin-bottom : 16px ; }
    
    .mar-bot-18 { margin-bottom : 18px ; }
    
    .mar-bot-20 { margin-bottom : 20px ; }
    
    .mar-bot-22 { margin-bottom : 22px ; }
    
    .mar-bot-24 { margin-bottom : 24px ; }
    
    .mar-bot-26 { margin-bottom : 26px ; }
    
    .mar-bot-28 { margin-bottom : 28px ; }
    
    .mar-bot-30 { margin-bottom : 30px ; }
    
    .mar-bot-32 { margin-bottom : 32px ; }

    .mar-bot-34 { margin-bottom : 34px ; }
    
    .mar-bot-36 { margin-bottom : 36px ; }
    
    .mar-bot-38 { margin-bottom : 38px ; }
    
    .mar-bot-40 { margin-bottom : 40px ; }

    .mar-lef { margin-left : auto !important ; }
    
    .mar-lef-2 { margin-left : 2px ; }
    
    .mar-lef-4 { margin-left : 4px ; }
    
    .mar-lef-6 { margin-left : 6px ; }
    
    .mar-lef-8 { margin-left : 8px ; }
    
    .mar-lef-10 { margin-left : 10px ; }
    
    .mar-lef-12 { margin-left : 12px ; }
    
    .mar-lef-14 { margin-left : 14px ; }
    
    .mar-lef-16 { margin-left : 16px ; }
    
    .mar-lef-18 { margin-left : 18px ; }
    
    .mar-lef-20 { margin-left : 20px ; }
    
    .mar-lef-22 { margin-left : 22px ; }
    
    .mar-lef-24 { margin-left : 24px ; }
    
    .mar-lef-26 { margin-left : 26px ; }
    
    .mar-lef-28 { margin-left : 28px ; }
    
    .mar-lef-30 { margin-left : 30px ; }
    
    .mar-lef-32 { margin-left : 32px ; }
    
    .mar-lef-34 { margin-left : 34px ; }
    
    .mar-lef-36 { margin-left : 36px ; }
    
    .mar-lef-38 { margin-left : 38px ; }
    
    .mar-lef-40 { margin-left : 40px ; }

    .mar-rig { margin-right : auto !important ; }
    
    .mar-rig-2 { margin-right : 2px ; }
    
    .mar-rig-4 { margin-right : 4px ; }
    
    .mar-rig-6 { margin-right : 6px ; }
    
    .mar-rig-8 { margin-right : 8px ; }
    
    .mar-rig-10 { margin-right : 10px ; }
    
    .mar-rig-12 { margin-right : 12px ; }
    
    .mar-rig-14 { margin-right : 14px ; }
    
    .mar-rig-16 { margin-right : 16px ; }
    
    .mar-rig-18 { margin-right : 18px ; }
    
    .mar-rig-20 { margin-right : 20px ; }
    
    .mar-rig-22 { margin-right : 22px ; }
    
    .mar-rig-24 { margin-right : 24px ; }
    
    .mar-rig-26 { margin-right : 26px ; }
    
    .mar-rig-28 { margin-right : 28px ; }
    
    .mar-rig-30 { margin-right : 30px ; }
    
    .mar-rig-32 { margin-right : 32px ; }
    
    .mar-rig-34 { margin-right : 34px ; }
    
    .mar-rig-36 { margin-right : 36px ; }
    
    .mar-rig-38 { margin-right : 38px ; }
    
    .mar-rig-40 { margin-right : 40px ; }

    .mwidth-0 { max-width : 0% !important ; }
    
    .mwidth-1 { max-width : 1% !important ; }
    
    .mwidth-2 { max-width : 2% !important ; }
    
    .mwidth-3 { max-width : 3% !important ; }
    
    .mwidth-4 { max-width : 4% !important ; }
    
    .mwidth-5 { max-width : 5% !important ; }
    
    .mwidth-6 { max-width : 6% !important ; }
    
    .mwidth-7 { max-width : 7% !important ; }
    
    .mwidth-8 { max-width : 8% !important ; }
    
    .mwidth-9 { max-width : 9% !important ; }
    
    .mwidth-10 { max-width : 10% !important ; }
    
    .mwidth-11 { max-width : 11% !important ; }
    
    .mwidth-12 { max-width : 12% !important ; }
    
    .mwidth-13 { max-width : 13% !important ; }
    
    .mwidth-14 { max-width : 14% !important ; }
    
    .mwidth-15 { max-width : 15% !important ; }
    
    .mwidth-16 { max-width : 16% !important ; }
    
    .mwidth-17 { max-width : 17% !important ; }
    
    .mwidth-18 { max-width : 18% !important ; }
    
    .mwidth-19 { max-width : 19% !important ; }
    
    .mwidth-20 { max-width : 20% !important ; }
    
    .mwidth-21 { max-width : 21% !important ; }
    
    .mwidth-22 { max-width : 22% !important ; }
    
    .mwidth-23 { max-width : 23% !important ; }
    
    .mwidth-24 { max-width : 24% !important ; }
    
    .mwidth-25 { max-width : 25% !important ; }

    .mwidth-26 { max-width : 26% !important ; }
    
    .mwidth-27 { max-width : 27% !important ; }
    
    .mwidth-28 { max-width : 28% !important ; }
    
    .mwidth-29 { max-width : 29% !important ; }
    
    .mwidth-30 { max-width : 30% !important ; }
    
    .mwidth-31 { max-width : 31% !important ; }
    
    .mwidth-32 { max-width : 32% !important ; }
    
    .mwidth-33 { max-width : 33% !important ; }
    
    .mwidth-34 { max-width : 34% !important ; }
    
    .mwidth-35 { max-width : 35% !important ; }
    
    .mwidth-36 { max-width : 36% !important ; }
    
    .mwidth-37 { max-width : 37% !important ; }
    
    .mwidth-38 { max-width : 38% !important ; }
    
    .mwidth-39 { max-width : 39% !important ; }
    
    .mwidth-40 { max-width : 40% !important ; }
    
    .mwidth-41 { max-width : 41% !important ; }
    
    .mwidth-42 { max-width : 42% !important ; }
    
    .mwidth-43 { max-width : 43% !important ; }
    
    .mwidth-44 { max-width : 44% !important ; }
    
    .mwidth-45 { max-width : 45% !important ; }
    
    .mwidth-46 { max-width : 46% !important ; }
    
    .mwidth-47 { max-width : 47% !important ; }
    
    .mwidth-48 { max-width : 48% !important ; }
    
    .mwidth-49 { max-width : 49% !important ; }
    
    .mwidth-50 { max-width : 50% !important ; }
    
    .mwidth-51 { max-width : 51% !important ; }
    
    .mwidth-52 { max-width : 52% !important ; }
    
    .mwidth-53 { max-width : 53% !important ; }
    
    .mwidth-54 { max-width : 54% !important ; }
    
    .mwidth-55 { max-width : 55% !important ; }
    
    .mwidth-56 { max-width : 56% !important ; }
    
    .mwidth-57 { max-width : 57% !important ; }
    
    .mwidth-58 { max-width : 58% !important ; }
    
    .mwidth-59 { max-width : 59% !important ; }
    
    .mwidth-60 { max-width : 60% !important ; }
    
    .mwidth-61 { max-width : 61% !important ; }
    
    .mwidth-62 { max-width : 62% !important ; }
    
    .mwidth-63 { max-width : 63% !important ; }
    
    .mwidth-64 { max-width : 64% !important ; }
    
    .mwidth-65 { max-width : 65% !important ; }
    
    .mwidth-66 { max-width : 66% !important ; }
    
    .mwidth-67 { max-width : 67% !important ; }
    
    .mwidth-68 { max-width : 68% !important ; }
    
    .mwidth-69 { max-width : 69% !important ; }
    
    .mwidth-70 { max-width : 70% !important ; }
    
    .mwidth-71 { max-width : 71% !important ; }
    
    .mwidth-72 { max-width : 72% !important ; }
    
    .mwidth-73 { max-width : 73% !important ; }
    
    .mwidth-74 { max-width : 74% !important ; }
    
    .mwidth-75 { max-width : 75% !important ; }
    
    .mwidth-76 { max-width : 76% !important ; }
    
    .mwidth-77 { max-width : 77% !important ; }
    
    .mwidth-78 { max-width : 78% !important ; }
    
    .mwidth-79 { max-width : 79% !important ; }
    
    .mwidth-80 { max-width : 80% !important ; }
    
    .mwidth-81 { max-width : 81% !important ; }
    
    .mwidth-82 { max-width : 82% !important ; }
    
    .mwidth-83 { max-width : 83% !important ; }
    
    .mwidth-84 { max-width : 84% !important ; }
    
    .mwidth-85 { max-width : 85% !important ; }
    
    .mwidth-86 { max-width : 86% !important ; }
    
    .mwidth-87 { max-width : 87% !important ; }
    
    .mwidth-88 { max-width : 88% !important ; }
    
    .mwidth-89 { max-width : 89% !important ; }
    
    .mwidth-90 { max-width : 90% !important ; }
    
    .mwidth-91 { max-width : 91% !important ; }
    
    .mwidth-92 { max-width : 92% !important ; }
    
    .mwidth-93 { max-width : 93% !important ; }
    
    .mwidth-94 { max-width : 94% !important ; }
    
    .mwidth-95 { max-width : 95% !important ; }
    
    .mwidth-96 { max-width : 96% !important ; }
    
    .mwidth-97 { max-width : 97% !important ; }
    
    .mwidth-98 { max-width : 98% !important ; }
    
    .mwidth-99 { max-width : 99% !important ; }
    
    .mwidth-100 { max-width : 100% !important ; }

    .mwidth-p0 { max-width : 0px !important ; }
    
    .mwidth-p1 { max-width : 1px !important ; }
    
    .mwidth-p2 { max-width : 2px !important ; }
    
    .mwidth-p3 { max-width : 3px !important ; }
    
    .mwidth-p4 { max-width : 4px !important ; }
    
    .mwidth-p5 { max-width : 5px !important ; }
    
    .mwidth-p6 { max-width : 6px !important ; }
    
    .mwidth-p7 { max-width : 7px !important ; }
    
    .mwidth-p8 { max-width : 8px !important ; }
    
    .mwidth-p9 { max-width : 9px !important ; }
    
    .mwidth-p10 { max-width : 10px !important ; }
    
    .mwidth-p11 { max-width : 11px !important ; }
    
    .mwidth-p12 { max-width : 12px !important ; }
    
    .mwidth-p13 { max-width : 13px !important ; }
    
    .mwidth-p14 { max-width : 14px !important ; }
    
    .mwidth-p15 { max-width : 15px !important ; }
    
    .mwidth-p16 { max-width : 16px !important ; }
    
    .mwidth-p17 { max-width : 17px !important ; }
    
    .mwidth-p18 { max-width : 18px !important ; }
    
    .mwidth-p19 { max-width : 19px !important ; }
    
    .mwidth-p20 { max-width : 20px !important ; }
    
    .mwidth-p20 { max-width : 21px !important ; }
    
    .mwidth-p20 { max-width : 22px !important ; }
    
    .mwidth-p23 { max-width : 23px !important ; }
    
    .mwidth-p24 { max-width : 24px !important ; }
    
    .mwidth-p25 { max-width : 25px !important ; }
    
    .mwidth-p30 { max-width : 30px !important ; }
    
    .mwidth-p31 { max-width : 31px !important ; }
    
    .mwidth-p32 { max-width : 32px !important ; }
    
    .mwidth-p33 { max-width : 33px !important ; }
    
    .mwidth-p34 { max-width : 34px !important ; }
    
    .mwidth-p35 { max-width : 35px !important ; }
    
    .mwidth-p36 { max-width : 36px !important ; }
    
    .mwidth-p37 { max-width : 37px !important ; }
    
    .mwidth-p38 { max-width : 38px !important ; }
    
    .mwidth-p39 { max-width : 39px !important ; }
    
    .mwidth-p40 { max-width : 40px !important ; }
    
    .mwidth-p41 { max-width : 41px !important ; }
    
    .mwidth-p42 { max-width : 42px !important ; }
    
    .mwidth-p43 { max-width : 43px !important ; }
    
    .mwidth-p44 { max-width : 44px !important ; }
    
    .mwidth-p45 { max-width : 45px !important ; }
    
    .mwidth-p46 { max-width : 46px !important ; }
    
    .mwidth-p47 { max-width : 47px !important ; }
    
    .mwidth-p48 { max-width : 48px !important ; }
    
    .mwidth-p49 { max-width : 49px !important ; }
    
    .mwidth-p50 { max-width : 50px !important ; }
    
    .mwidth-p51 { max-width : 51px !important ; }
    
    .mwidth-p52 { max-width : 52px !important ; }
    
    .mwidth-p53 { max-width : 53px !important ; }
    
    .mwidth-p54 { max-width : 54px !important ; }
    
    .mwidth-p55 { max-width : 55px !important ; }
    
    .mwidth-p56 { max-width : 56px !important ; }
    
    .mwidth-p57 { max-width : 57px !important ; }
    
    .mwidth-p58 { max-width : 58px !important ; }
    
    .mwidth-p59 { max-width : 59px !important ; }
    
    .mwidth-p60 { max-width : 60px !important ; }
    
    .mwidth-p61 { max-width : 61px !important ; }
    
    .mwidth-p62 { max-width : 62px !important ; }
    
    .mwidth-p63 { max-width : 63px !important ; }
    
    .mwidth-p64 { max-width : 64px !important ; }
    
    .mwidth-p65 { max-width : 65px !important ; }
    
    .mwidth-p66 { max-width : 66px !important ; }
    
    .mwidth-p67 { max-width : 67px !important ; }
    
    .mwidth-p68 { max-width : 68px !important ; }
    
    .mwidth-p69 { max-width : 69px !important ; }
    
    .mwidth-p70 { max-width : 70px !important ; }
    
    .mwidth-p71 { max-width : 71px !important ; }
    
    .mwidth-p72 { max-width : 72px !important ; }
    
    .mwidth-p73 { max-width : 73px !important ; }
    
    .mwidth-p74 { max-width : 74px !important ; }
    
    .mwidth-p75 { max-width : 75px !important ; }
    
    .mwidth-p76 { max-width : 76px !important ; }
    
    .mwidth-p77 { max-width : 77px !important ; }
    
    .mwidth-p78 { max-width : 78px !important ; }
    
    .mwidth-p79 { max-width : 79px !important ; }
    
    .mwidth-p80 { max-width : 80px !important ; }
    
    .mwidth-p81 { max-width : 81px !important ; }
    
    .mwidth-p82 { max-width : 82px !important ; }
    
    .mwidth-p83 { max-width : 83px !important ; }
    
    .mwidth-p84 { max-width : 84px !important ; }
    
    .mwidth-p85 { max-width : 85px !important ; }
    
    .mwidth-p86 { max-width : 86px !important ; }
    
    .mwidth-p87 { max-width : 87px !important ; }
    
    .mwidth-p88 { max-width : 88px !important ; }
    
    .mwidth-p89 { max-width : 89px !important ; }
    
    .mwidth-p90 { max-width : 90px !important ; }
    
    .mwidth-p91 { max-width : 91px !important ; }
    
    .mwidth-p92 { max-width : 92px !important ; }
    
    .mwidth-p93 { max-width : 93px !important ; }
    
    .mwidth-p94 { max-width : 94px !important ; }
    
    .mwidth-p95 { max-width : 95px !important ; }
    
    .mwidth-p96 { max-width : 96px !important ; }
    
    .mwidth-p97 { max-width : 97px !important ; }
    
    .mwidth-p98 { max-width : 98px !important ; }
    
    .mwidth-p99 { max-width : 99px !important ; }
    
    .mwidth-p100 { max-width : 100px !important ; }
    
    .width-1 { width : 1% ; }
    
    .width-2 { width : 2% ; }
    
    .width-3 { width : 3% ; }
    
    .width-4 { width : 4% ; }
    
    .width-5 { width : 5% ; }
    
    .width-6 { width : 6% ; }
    
    .width-7 { width : 7% ; }
    
    .width-8 { width : 8% ; }
    
    .width-9 { width : 9% ; }

    .width-10 { width : 10% ; }
    
    .width-11 { width : 11% ; }
    
    .width-12 { width : 12% ; }
    
    .width-13 { width : 13% ; }
    
    .width-14 { width : 14% ; }

    .width-15 { width : 15% ; }

    .width-16 { width : 16% ; }

    .width-17 { width : 17% ; }

    .width-18 { width : 18% ; }

    .width-19 { width : 19% ; }

    .width-20 { width : 20% ; }

    .width-20 { width : 21% ; }

    .width-20 { width : 22% ; }

    .width-23 { width : 23% ; }

    .width-24 { width : 24% ; }

    .width-25 { width : 25% ; }
        
    .width-26 { width : 26% ; }
    
    .width-27 { width : 27% ; }
    
    .width-28 { width : 28% ; }
    
    .width-29 { width : 29% ; }
    
    .width-30 { width : 30% ; }
    
    .width-31 { width : 31% ; }
    
    .width-32 { width : 32% ; }
    
    .width-33 { width : 33% ; }
    
    .width-34 { width : 34% ; }
    
    .width-35 { width : 35% ; }
    
    .width-36 { width : 36% ; }
    
    .width-37 { width : 37% ; }
    
    .width-38 { width : 38% ; }
    
    .width-39 { width : 39% ; }
    
    .width-40 { width : 40% ; }
    
    .width-41 { width : 41% ; }
    
    .width-42 { width : 42% ; }
    
    .width-43 { width : 43% ; }
    
    .width-44 { width : 44% ; }
    
    .width-45 { width : 45% ; }
    
    .width-46 { width : 46% ; }
    
    .width-47 { width : 47% ; }
    
    .width-48 { width : 48% ; }
    
    .width-49 { width : 49% ; }

    .width-50 { width : 50% ; }
    
    .width-51 { width : 51% ; }
    
    .width-52 { width : 52% ; }
    
    .width-53 { width : 53% ; }
    
    .width-54 { width : 54% ; }
    
    .width-55 { width : 55% ; }
    
    .width-56 { width : 56% ; }
    
    .width-57 { width : 57% ; }
    
    .width-58 { width : 58% ; }
    
    .width-59 { width : 59% ; }
    
    .width-60 { width : 60% ; }
    
    .width-61 { width : 61% ; }
    
    .width-62 { width : 62% ; }
    
    .width-63 { width : 63% ; }
    
    .width-64 { width : 64% ; }
    
    .width-65 { width : 65% ; }
    
    .width-66 { width : 66% ; }
    
    .width-67 { width : 67% ; }
    
    .width-68 { width : 68% ; }
    
    .width-69 { width : 69% ; }
    
    .width-70 { width : 70% ; }
    
    .width-71 { width : 71% ; }
    
    .width-72 { width : 72% ; }
    
    .width-73 { width : 73% ; }
    
    .width-74 { width : 74% ; }
    
    .width-75 { width : 75% ; }
    
    .width-76 { width : 76% ; }
    
    .width-77 { width : 77% ; }
    
    .width-78 { width : 78% ; }
    
    .width-79 { width : 79% ; }
    
    .width-80 { width : 80% ; }
    
    .width-81 { width : 81% ; }
    
    .width-82 { width : 82% ; }
    
    .width-83 { width : 83% ; }
    
    .width-84 { width : 84% ; }
    
    .width-85 { width : 85% ; }
    
    .width-86 { width : 86% ; }
    
    .width-87 { width : 87% ; }
    
    .width-88 { width : 88% ; }
    
    .width-89 { width : 89% ; }
    
    .width-90 { width : 90% ; }
    
    .width-91 { width : 91% ; }
    
    .width-92 { width : 92% ; }
    
    .width-93 { width : 93% ; }
    
    .width-94 { width : 94% ; }

    .width-95 { width : 95% ; }
    
    .width-96 { width : 96% ; }
    
    .width-97 { width : 97% ; }
    
    .width-98 { width : 98% ; }
    
    .width-99 { width : 99% ; }

    .width-100 { width : 100% ; }

    .width-p1 { width : 1px ; }
    
    .width-p2 { width : 2px ; }
    
    .width-p3 { width : 3px ; }
    
    .width-p4 { width : 4px ; }
    
    .width-p5 { width : 5px ; }
    
    .width-p6 { width : 6px ; }
    
    .width-p7 { width : 7px ; }
    
    .width-p8 { width : 8px ; }
    
    .width-p9 { width : 9px ; }

    .width-p10 { width : 10px ; }
    
    .width-p11 { width : 11px ; }
    
    .width-p12 { width : 12px ; }
    
    .width-p13 { width : 13px ; }
    
    .width-p14 { width : 14px ; }

    .width-p15 { width : 15px ; }

    .width-p16 { width : 16px ; }

    .width-p17 { width : 17px ; }

    .width-p18 { width : 18px ; }

    .width-p19 { width : 19px ; }

    .width-p20 { width : 20px ; }

    .width-p20 { width : 21px ; }

    .width-p20 { width : 22px ; }

    .width-p23 { width : 23px ; }

    .width-p24 { width : 24px ; }

    .width-p25 { width : 25px ; }
    
    .width-p26 { width : 26px ; }
    
    .width-p27 { width : 27px ; }
    
    .width-p28 { width : 28px ; }
    
    .width-p29 { width : 29px ; }
    
    .width-p30 { width : 30px ; }
    
    .width-p31 { width : 31px ; }
    
    .width-p32 { width : 32px ; }
    
    .width-p33 { width : 33px ; }
    
    .width-p34 { width : 34px ; }
    
    .width-p35 { width : 35px ; }
    
    .width-p36 { width : 36px ; }
    
    .width-p37 { width : 37px ; }
    
    .width-p38 { width : 38px ; }
    
    .width-p39 { width : 39px ; }
    
    .width-p40 { width : 40px ; }
    
    .width-p41 { width : 41px ; }
    
    .width-p42 { width : 42px ; }
    
    .width-p43 { width : 43px ; }
    
    .width-p44 { width : 44px ; }
    
    .width-p45 { width : 45px ; }
    
    .width-p46 { width : 46px ; }
    
    .width-p47 { width : 47px ; }
    
    .width-p48 { width : 48px ; }
    
    .width-p49 { width : 49px ; }

    .width-p50 { width : 50px ; }
    
    .width-p51 { width : 51px ; }
    
    .width-p52 { width : 52px ; }
    
    .width-p53 { width : 53px ; }
    
    .width-p54 { width : 54px ; }
    
    .width-p55 { width : 55px ; }
    
    .width-p56 { width : 56px ; }
    
    .width-p57 { width : 57px ; }
    
    .width-p58 { width : 58px ; }
    
    .width-p59 { width : 59px ; }
    
    .width-p60 { width : 60px ; }
    
    .width-p61 { width : 61px ; }
    
    .width-p62 { width : 62px ; }
    
    .width-p63 { width : 63px ; }
    
    .width-p64 { width : 64px ; }
    
    .width-p65 { width : 65px ; }
    
    .width-p66 { width : 66px ; }
    
    .width-p67 { width : 67px ; }
    
    .width-p68 { width : 68px ; }
    
    .width-p69 { width : 69px ; }
    
    .width-p70 { width : 70px ; }
    
    .width-p71 { width : 71px ; }
    
    .width-p72 { width : 72px ; }
    
    .width-p73 { width : 73px ; }
    
    .width-p74 { width : 74px ; }
    
    .width-p75 { width : 75px ; }
    
    .width-p76 { width : 76px ; }
    
    .width-p77 { width : 77px ; }
    
    .width-p78 { width : 78px ; }
    
    .width-p79 { width : 79px ; }
    
    .width-p80 { width : 80px ; }
    
    .width-p81 { width : 81px ; }
    
    .width-p82 { width : 82px ; }
    
    .width-p83 { width : 83px ; }
    
    .width-p84 { width : 84px ; }
    
    .width-p85 { width : 85px ; }
    
    .width-p86 { width : 86px ; }
    
    .width-p87 { width : 87px ; }
    
    .width-p88 { width : 88px ; }
    
    .width-p89 { width : 89px ; }
    
    .width-p90 { width : 90px ; }
    
    .width-p91 { width : 91px ; }
    
    .width-p92 { width : 92px ; }
    
    .width-p93 { width : 93px ; }
    
    .width-p94 { width : 94px ; }

    .width-p95 { width : 95px ; }
    
    .width-p96 { width : 96px ; }
    
    .width-p97 { width : 97px ; }
    
    .width-p98 { width : 98px ; }
    
    .width-p99 { width : 99px ; }

    .width-p100 { width : 100px ; }
    
    .width-p200 { width : 200px ; }

    .width-p300 { width : 300px ; }

    .width-p400 { width : 400px ; }
    
    .width-p500 { width : 500px ; }

    .width-p600 { width : 600px ; }

    .width-p700 { width : 700px ; }

    .width-p800 { width : 800px ; }
    
    .width-p900 { width : 900px ; }

    .width-p1000 { width : 1000px ; }

    .width-auto { width : auto ; }

    .height-5 { height : 50px ; }
    
    .height-10 { height : 100px ; }
    
    .height-15 { height : 150px ; }
    
    .height-20 { height : 200px ; }
    
    .height-25 { height : 250px ; }
    
    .height-30 { height : 300px ; }
    
    .height-35 { height : 350px ; }
    
    .height-40 { height : 400px ; }
    
    .height-45 { height : 450px ; }
    
    .height-50 { height : 500px ; }
    
    .height-55 { height : 550px ; }
    
    .height-60 { height : 600px ; }
    
    .height-65 { height : 650px ; }
    
    .height-70 { height : 700px ; }
    
    .height-75 { height : 750px ; }
    
    .height-80 { height : 800px ; }
    
    .height-85 { height : 850px ; }
    
    .height-90 { height : 900px ; }
    
    .height-95 { height : 950px ; }
    
    .height-100 { height : 1000px ; }

    .dis-none { display : none ; }

    .dis-block { display : block ; }

    .dis-inline { display : inline ; }

    .dis-inlined { display : inline-block ; }

    .dis-table { display : table ; }
    
    .dis-flex { display : flex ; }

    .dis-unset { display : unset ; }

    .container { flex-wrap : wrap ;  margin : auto ;  display : flex ; }

    .col-015 { flex : 0 0 1.5% ;  max-width : 1.5% ; }

    .col-05 { flex : 0 0 5% ;  max-width : 5% ; }
    
    .col-1 { flex : 0 0 10% ;  max-width : 10% ; }

    .col-15 { flex : 0 0 15% ;  max-width : 15% ; }
    
    .col-2 { flex : 0 0 20% ;  max-width : 20% ; }

    .col-25 { flex : 0 0 25% ;  max-width : 25% ; }
    
    .col-3 { flex : 0 0 30% ;  max-width : 30% ; }

    .col-35 { flex : 0 0 35% ;  max-width : 35% ; }
    
    .col-4 { flex : 0 0 40% ;  max-width : 40% ; }

    .col-45 { flex : 0 0 45% ;  max-width : 45% ; }
    
    .col-5 { flex : 0 0 50% ;  max-width : 50% ; }

    .col-55 { flex : 0 0 55% ;  max-width : 55% ; }
    
    .col-6 { flex : 0 0 60% ;  max-width : 60% ; }

    .col-65 { flex : 0 0 65% ;  max-width : 65% ; }
    
    .col-7 { flex : 0 0 70% ;  max-width : 70% ; }

    .col-75 { flex : 0 0 75% ;  max-width : 75% ; }
    
    .col-8 { flex : 0 0 80% ;  max-width : 80% ; }

    .col-85 { flex : 0 0 85% ;  max-width : 85% ; }
    
    .col-9 { flex : 0 0 90% ;  max-width : 90% ; }

    .col-95 { flex : 0 0 95% ;  max-width : 95% ; }
    
    .col-10 { flex : 0 0 100% ;   max-width : 100% ; }

    .left-0 { left : 0px; }
    
    .left-5 { left : 5px; }
    
    .left-10 { left : 10px; }
    
    .left-15 { left : 15px; }
    
    .left-20 { left : 20px; }
    
    .left-25 { left : 25px; }
    
    .left-30 { left : 30px; }
    
    .left-35 { left : 35px; }
    
    .left-40 { left : 40px; }
    
    .left-45 { left : 45px; }
    
    .left-50 { left : 50px; }
    
    .left-55 { left : 55px; }
    
    .left-60 { left : 60px; }
    
    .left-65 { left : 65px; }
    
    .left-70 { left : 70px; }
    
    .left-75 { left : 75px; }
    
    .left-80 { left : 80px; }
    
    .left-85 { left : 85px; }
    
    .left-90 { left : 90px; }
    
    .left-95 { left : 95px; }
    
    .left-100 { left : 100px; }
    
    .right-0 { right : 0px; }
    
    .right-5 { right : 5px; }
    
    .right-10 { right : 10px; }
    
    .right-15 { right : 15px; }
    
    .right-20 { right : 20px; }
    
    .right-25 { right : 25px; }
    
    .right-30 { right : 30px; }
    
    .right-35 { right : 35px; }
    
    .right-40 { right : 40px; }
    
    .right-45 { right : 45px; }
    
    .right-50 { right : 50px; }
    
    .right-55 { right : 55px; }
    
    .right-60 { right : 60px; }
    
    .right-65 { right : 65px; }
    
    .right-70 { right : 70px; }
    
    .right-75 { right : 75px; }
    
    .right-80 { right : 80px; }
    
    .right-85 { right : 85px; }
    
    .right-90 { right : 90px; }
    
    .right-95 { right : 95px; }
    
    .right-100 { right : 100px; }

    .top-0 { top : 0px; }
    
    .top-5 { top : 5px; }
    
    .top-10 { top : 10px; }
    
    .top-15 { top : 15px; }
    
    .top-20 { top : 20px; }
    
    .top-25 { top : 25px; }
    
    .top-30 { top : 30px; }
    
    .top-35 { top : 35px; }
    
    .top-40 { top : 40px; }
    
    .top-45 { top : 45px; }
    
    .top-50 { top : 50px; }
    
    .top-55 { top : 55px; }
    
    .top-60 { top : 60px; }
    
    .top-65 { top : 65px; }
    
    .top-70 { top : 70px; }
    
    .top-75 { top : 75px; }
    
    .top-80 { top : 80px; }
    
    .top-85 { top : 85px; }
    
    .top-90 { top : 90px; }
    
    .top-95 { top : 95px; }
    
    .top-100 { top : 100px; }

    .bottom-0 { bottom : 0px; }
    
    .bottom-5 { bottom : 5px; }
    
    .bottom-10 { bottom : 10px; }
    
    .bottom-15 { bottom : 15px; }
    
    .bottom-20 { bottom : 20px; }
    
    .bottom-25 { bottom : 25px; }
    
    .bottom-30 { bottom : 30px; }
    
    .bottom-35 { bottom : 35px; }
    
    .bottom-40 { bottom : 40px; }
    
    .bottom-45 { bottom : 45px; }
    
    .bottom-50 { bottom : 50px; }
    
    .bottom-55 { bottom : 55px; }
    
    .bottom-60 { bottom : 60px; }
    
    .bottom-65 { bottom : 65px; }
    
    .bottom-70 { bottom : 70px; }
    
    .bottom-75 { bottom : 75px; }
    
    .bottom-80 { bottom : 80px; }
    
    .bottom-85 { bottom : 85px; }
    
    .bottom-90 { bottom : 90px; }
    
    .bottom-95 { bottom : 95px; }
    
    .bottom-100 { bottom : 100px; }

    /* #include<css.style> */
    
    .b-solid-2-white{border: solid 2px white !important;}
    
    .b-solid-2-black{border: solid 2px black !important;}
    
    .b-solid-2-gray{border: solid 2px #7c7c7c !important;}
    
    .b-solid-2-darkgray{border: solid 2px #474747 !important;}
    
    .b-solid-2-red{border: solid 2px #af1d1d !important;}
    
    .b-solid-2-darkred{border: solid 2px #931919 !important;}
    
    .b-solid-2-orange{border: solid 2px #ff7200 !important}
    
    .b-solid-2-darkorange{border: solid 2px #d16b19 !important;}
    
    .b-solid-2-yellow{border: solid 2px #fcde32 !important;}
    
    .b-solid-2-darkyellow{border: solid 2px #bfbf01 !important;}
    
    .b-solid-2-green{border: solid 2px #4ecc00 !important;}
    
    .b-solid-2-lowgreen{border: solid 2px #93ff93 !important;}
    
    .b-solid-2-darkgreen{border: solid 2px #318200 !important;}
    
    .b-solid-2-blue{border: solid 2px #2671cc !important;}
    
    .b-solid-2-darkblue{border: solid 2px #1a5193 !important;}
    
    .b-solid-2-purple{border: solid 2px #9316f9 !important;}
    
    .b-solid-2-darkpurple{border: solid 2px #570d93 !important;}
    
    .b-solid-2-pink{border: solid 2px #ff63d0 !important;}
    
    .b-solid-2-darkpink{border: solid 2px #ff00b2;}
    
    .b-solid-2-main{border: solid 2px #33353a ;}
    
    .b-solid-2-second{border: solid 2px #464646;}
    
    .b-solid-2-purblue{border: solid 2px #6a6aff;}
    
    .b-solid-2-lowblue{border: solid 2px #a6ffff;}

    .lh-5 { line-height : 5px ; }

    .lh-10 { line-height : 10px ; }

    .lh-15 { line-height : 15px ; }

    .lh-20 { line-height : 20px ; }
    
    .lh-25 { line-height : 25px ; }
    
    .lh-30 { line-height : 30px ; }
    
    .lh-35 { line-height : 35px ; }
    
    .lh-40 { line-height : 40px ; }
    
    .lh-45 { line-height : 45px ; }
    
    .lh-50 { line-height : 50px ; }
    
    .lh-55 { line-height : 55px ; }
    
    .lh-60 { line-height : 60px ; }
    
    .lh-65 { line-height : 65px ; }
    
    .lh-70 { line-height : 70px ; }
    
    .lh-75 { line-height : 75px ; }
    
    .lh-80 { line-height : 80px ; }
    
    .lh-85 { line-height : 85px ; }
    
    .lh-90 { line-height : 90px ; }
    
    .lh-95 { line-height : 95px ; }
    
    .lh-100 { line-height : 100px ; }

    .overflow-s { overflow : scroll ; }

    .overflow-h { overflow : hidden ; }

    .overflow-v { overflow : visible ; }

    .overflow-in { overflow : inherit ; }

    .overflow-i { overflow : initial ; }
	
    .overflow-a { overflow : auto ; }

    .valign-t { vertical-align : top !important ; }

    .valign-m { vertical-align : middle !important ; }

    .valign-b { vertical-align : bottom !important ; }

    .valign-tt { vertical-align : text-top !important ; }

    .valign-tb { vertical-align : text-bottom !important ; }

    .valign-sub { vertical-align : sub !important ; }

    .valign-super { vertical-align : super !important ; }

    .valign-auto { vertical-align : auto !important ; }

    .valign-bl { vertical-align : baseline !important ; }

    .float-right { float : right !important ; }

    .float-left { float : left !important ; }

    .img-32 { height : 32px ; width : 32px ; }

    .pos-ab { position : absolute ; }

    .pos-re { position : relative ; }

    .pos-st { position : -webkit-sticky ;  position : sticky; top : 0; }

    .pos-fi { position : fixed ; }

    .pos-in { position : inherit ; }

    .pos-de { position : initial ; }

    .top-left-0 { top : 0px ; left : 0px ; }

    .top-right-0 { top : 0px ; right : 0px ; }

    .bot-left-0 { bottom : 0px ; left : 0px ; }

    .bot-right-0 { bottom : 0px ; right : 0px ; }

    .line {height : 1px ; -ms-flex : 1 1 auto ; flex : 1 1 auto ; margin-left : 16px ; }

    /* #include<css.unset> */

    .unfloat{ float : unset !important ; }

    .undisplay { display : unset !important ; }

    .unvalign { vertical-align : unset !important ; }

    .unradius { border-radius : unset !important ; }

    .unoutline { outline : unset !important ; }

    .untextd { text-decoration : unset !important ; }

    .unlist { list-style : none !important ; }

    .unli { margin-block-start : 0px !important ; margin-block-end : 0px !important ; margin-inline-start : 0px !important ; margin-inline-end : 0px !important ; padding-inline-start : 20px !important ; }